<section class="list">
  <h3 class="h3-text list__title">Фильмы и сериалы</h3>
  <div class="divider"></div>
  <ul class="list-grid">
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
            loading="lazy"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
            loading="lazy"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
            loading="lazy"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            loading="lazy"
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            loading="lazy"
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
    <li>
      <a href="./movie.html" class="movie-card">
        <div class="movie-card-cover">
          <img
            loading="lazy"
            src="./assets/images/poster.png"
            class="movie-card-cover__img"
          />
          <div class="movie-card-cover__tags">
            <div class="tag tag-text">115 мин</div>
            <div class="tag tag-text">2021</div>
          </div>
        </div>
        <div class="body-3-text text-nowrap">Финч</div>
      </a>
    </li>
  </ul>
</section>
